Repository player-ui/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KetanReddy, @adierkens, @sugarmanz

.github/CODEOWNERS:

# Fallback
* @KetanReddy 

# Language
language/ @KetanReddy @adierkens
cli/ @KetanReddy @adierkens

# XLR
xlr/ @KetanReddy
drag-and-drop/ @KetanReddy @adierkens

# DevTools
devtools/ @sugarmanz

Allow plugins to take more than one asset type or LSP plugin
  cli/src/plugins/LSPAssetsPlugin.ts
  cli/src/plugins/LSPPluginPlugin.ts
Owners: @KetanReddy, @adierkens

Fix import error in react-merge-refs with esm
  language/dsl/src/compiler/__tests__/schema.test.ts
  language/dsl/src/components.tsx
  package.json
  pnpm-lock.yaml
Owners: @KetanReddy, @adierkens

Skip redundant test/coverage steps and use new codecov org
  .circleci/config.yml
Owners: @KetanReddy

Hoist react-merge-refs due to dist issues
  language/dsl/BUILD
  language/dsl/src/components.tsx
  language/dsl/src/utils.tsx
  package.json
  pnpm-lock.yaml
Owners: @KetanReddy, @adierkens

try reverting codecov orb version?
  .circleci/config.yml
Owners: @KetanReddy

Print expression that caused error
  language/dsl/src/string-templates/index.ts
Owners: @KetanReddy, @adierkens

Print stacktrace for compilation error
  cli/src/commands/dsl/compile.ts
Owners: @KetanReddy, @adierkens

Use error information to generate log message pointing to missing character location.
  language/dsl/src/string-templates/__tests__/expression.test.ts
  language/dsl/src/string-templates/index.ts
  package.json
  pnpm-lock.yaml
Owners: @KetanReddy, @adierkens

Update dep list to add static xlrs
  language/json-language-service/package.json
  language/typescript-expression-plugin/package.json
  pnpm-lock.yaml
  xlr/sdk/package.json
Owners: @KetanReddy, @adierkens

Update TS version
  language/typescript-expression-plugin/src/utils.ts
  package.json
  pnpm-lock.yaml
Owners: @KetanReddy, @adierkens

Use shared cli build macro and fix cli plugins
  MODULE.bazel
  cli/BUILD
  cli/package.json
Owners: @KetanReddy, @adierkens

chore: addressing pr comments
  devtools/client/README.md
  devtools/client/src/state/index.ts
  devtools/messenger/BUILD
  devtools/plugins/desktop/common/src/communication-layer/index.ts
  language/json-language-server/BUILD
  language/json-language-server/package.json
  package.json
  pnpm-lock.yaml
Owners: @sugarmanz, @KetanReddy, @adierkens

Update TSConfig loading to use native ts directives Fixes #96
  cli/src/commands/dsl/validate.ts
Owners: @KetanReddy, @adierkens

chore: post merge fixes
  cli/BUILD
  package.json
  pnpm-lock.yaml
Owners: @KetanReddy, @adierkens

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @KetanReddy

Bump version to: v0.5.2 [skip ci]
  VERSION
Owners: @KetanReddy

chore: flipper connection and multi-view test flow
  devtools/plugins/desktop/common/src/communication-layer/index.ts
  devtools/plugins/desktop/test-env/setup.sh
  devtools/plugins/desktop/test-env/src/App.tsx
  devtools/plugins/desktop/test-env/src/flow.json
  devtools/plugins/mobile/flipper-desktop-client/package.json
  devtools/plugins/mobile/flipper-desktop-client/src/index.tsx
  devtools/types/src/index.ts
  package.json
  pnpm-lock.yaml
  publish-to-verdaccio.sh
  scripts/publish-to-verdaccio.sh
Owners: @sugarmanz, @KetanReddy

DSL pckg name + validate docs update
  cli/README.md
  language/dsl/README.md
Owners: @KetanReddy, @adierkens

DSL validate description wording
  cli/README.md
Owners: @KetanReddy, @adierkens

chore: remove license from readme
  devtools/client/README.md
  devtools/messenger/README.md
  devtools/plugins/desktop/basic/README.md
  devtools/plugins/desktop/basic/src/index.tsx
  devtools/plugins/desktop/common/README.md
  devtools/plugins/desktop/common/src/communication-layer/index.ts
  devtools/plugins/desktop/test-env/package.json
  pnpm-lock.yaml
Owners: @sugarmanz, @KetanReddy

chore: tests and refactor
  .codecov.yml
  devtools/client/README.md
  devtools/client/src/constants/index.ts
  devtools/client/src/helpers/flowDiff.ts
  devtools/client/src/panel/index.tsx
  devtools/client/src/plugins/index.ts
  devtools/client/src/state/__tests__/reducer.test.ts
  devtools/client/src/state/index.ts
  devtools/plugins/desktop/basic/README.md
  devtools/plugins/desktop/basic/src/WrapperComponent.tsx
  devtools/plugins/desktop/basic/src/constants/index.ts
  devtools/plugins/desktop/basic/src/helpers/__tests__/genDataChangeTransaction.test.ts
  devtools/plugins/desktop/basic/src/helpers/__tests__/getEvaluateExpression.test.ts
  devtools/plugins/desktop/basic/src/helpers/genDataChangeTransaction.ts
  devtools/plugins/desktop/basic/src/helpers/getEvaluateExpression.ts
  devtools/plugins/desktop/basic/src/index.tsx
  devtools/plugins/desktop/common/src/communication-layer/__tests__/index.test.ts
  devtools/plugins/desktop/common/src/communication-layer/index.ts
  pnpm-lock.yaml
Owners: @KetanReddy, @sugarmanz

chore: update locks
  pnpm-lock.yaml
Owners: @KetanReddy

Saving progress. Use `import` statements for loaded plugins
  cli/src/commands/dsl/compile.ts
  cli/src/utils/babel-register.ts
  cli/src/utils/base-command.ts
Owners: @KetanReddy, @adierkens

Check if element being parsed is a template instance before treating it as an object/array
  language/dsl/src/utils.tsx
Owners: @KetanReddy, @adierkens

Add test for using intermediate template values as dsl props
  language/dsl/src/__tests__/edge-cases.test.tsx
Owners: @KetanReddy, @adierkens

feat: adds editor view to basic devtools plugin
  devtools/plugins/desktop/basic/src/WrapperComponent.tsx
  devtools/plugins/desktop/basic/src/constants/index.ts
  devtools/plugins/desktop/basic/src/content/schema/index.ts
  devtools/plugins/desktop/basic/src/content/views/EditorView.tsx
  devtools/plugins/desktop/basic/src/content/views/index.ts
  devtools/plugins/desktop/basic/src/index.tsx
  devtools/plugins/desktop/basic/src/types.ts
  package.json
  pnpm-lock.yaml
Owners: @sugarmanz, @KetanReddy

chore: bump devtools-assets version
  package.json
  pnpm-lock.yaml
Owners: @KetanReddy

Added section for Local extension development
  devtools/client/README.md
Owners: @sugarmanz

added firefox to subtitle section
  devtools/client/README.md
Owners: @sugarmanz

Modified Browser section as headers
  devtools/client/README.md
Owners: @sugarmanz

Added local extension development guide
  devtools/client/README.md
Owners: @sugarmanz

chore: bump player and devtools-assets versions
  package.json
  pnpm-lock.yaml
Owners: @KetanReddy

chore: bump player and devtools-assets version
  package.json
  pnpm-lock.yaml
Owners: @KetanReddy

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @KetanReddy

Bump version to: v0.6.0 [skip ci]
  VERSION
Owners: @KetanReddy

feat: profiler plugin foundation
  .bazelignore
  devtools/plugins/desktop/profiler/BUILD
  devtools/plugins/desktop/profiler/README.md
  devtools/plugins/desktop/profiler/_generated/index.json
  devtools/plugins/desktop/profiler/package.json
  devtools/plugins/desktop/profiler/src/WrapperComponent.tsx
  devtools/plugins/desktop/profiler/src/constants/index.ts
  devtools/plugins/desktop/profiler/src/content/common/Screen.tsx
  devtools/plugins/desktop/profiler/src/content/common/index.ts
  devtools/plugins/desktop/profiler/src/content/index.ts
  devtools/plugins/desktop/profiler/src/content/navigation/index.ts
  devtools/plugins/desktop/profiler/src/content/schema/index.ts
  devtools/plugins/desktop/profiler/src/content/views/ProfilerView.tsx
  devtools/plugins/desktop/profiler/src/content/views/index.ts
  devtools/plugins/desktop/profiler/src/helpers/__tests__/genDataChangeTransaction.test.ts
  devtools/plugins/desktop/profiler/src/helpers/genDataChangeTransaction.ts
  devtools/plugins/desktop/profiler/src/helpers/index.ts
  devtools/plugins/desktop/profiler/src/index.tsx
  devtools/plugins/desktop/profiler/src/types.ts
  devtools/plugins/desktop/profiler/tsconfig.json
  devtools/plugins/desktop/test-env/package.json
  devtools/plugins/desktop/test-env/setup.sh
  devtools/plugins/desktop/test-env/src/App.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @KetanReddy, @sugarmanz

removed check for player and plugin before setting
  devtools/client/src/state/reducer.ts
Owners: @sugarmanz

Fix regression on validation of keys with escaped characters. Add better tests for that as well
  xlr/utils/src/__tests__/validation-helpers.test.ts
  xlr/utils/src/validation-helpers.ts
Owners: @KetanReddy

chore: extract profile logic
  devtools/plugins/desktop/profiler/src/WrapperComponent.tsx
  devtools/plugins/desktop/profiler/src/content/index.ts
  devtools/plugins/desktop/profiler/src/content/schema/index.ts
  devtools/plugins/desktop/profiler/src/content/views/ProfilerView.tsx
  devtools/plugins/desktop/profiler/src/helpers/__tests__/profiler.test.ts
  devtools/plugins/desktop/profiler/src/helpers/index.ts
  devtools/plugins/desktop/profiler/src/helpers/profiler.ts
  devtools/plugins/desktop/profiler/src/index.tsx
  devtools/plugins/desktop/profiler/src/types.ts
  devtools/plugins/desktop/test-env/package.json
  devtools/plugins/desktop/test-env/setup.sh
  package.json
  pnpm-lock.yaml
Owners: @sugarmanz, @KetanReddy

Fix bug parsing IATs when object is wrapped in parens
  xlr/converters/src/__tests__/__snapshots__/ts-to-common.test.ts.snap
  xlr/converters/src/__tests__/ts-to-common.test.ts
  xlr/converters/src/ts-to-xlr.ts
Owners: @KetanReddy
