Repository player-ui/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KetanReddy, @adierkens, @sugarmanz

.github/CODEOWNERS:

# Fallback
* @KetanReddy 

# Language
language/ @KetanReddy @adierkens
cli/ @KetanReddy @adierkens

# XLR
xlr/ @KetanReddy
drag-and-drop/ @KetanReddy @adierkens

# DevTools
devtools/ @sugarmanz

migration
  cli/package.json
  cli/src/commands/dsl/compile.ts
  cli/src/config.ts
  cli/src/index.ts
  cli/src/utils/base-command.ts
  language/dsl/BUILD
  language/dsl/src/__tests__/asset-api.test.tsx
  language/dsl/src/__tests__/helpers/asset-library.tsx
  language/dsl/src/__tests__/jsx.test.tsx
  language/dsl/src/__tests__/schema.test.tsx
  language/dsl/src/__tests__/template.test.tsx
  language/dsl/src/__tests__/view-api.test.tsx
  language/dsl/src/compiler/compiler.ts
  language/dsl/src/compiler/schema.ts
  language/dsl/src/compiler/types.ts
  language/dsl/src/components.tsx
  language/dsl/src/string-templates/__tests__/edge-cases.test.ts
  language/dsl/src/string-templates/index.ts
  language/dsl/src/template.tsx
  language/dsl/src/types.ts
  language/dsl/src/utils.tsx
  package.json
  yarn.lock
Owners: @KetanReddy, @adierkens

Fix schema compilation for duplicate types
  language/dsl/src/__tests__/schema.test.tsx
  language/dsl/src/compiler/schema.ts
Owners: @KetanReddy, @adierkens

Add contributing guide, and some links in README
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
Owners: @KetanReddy

fix circle token
  README.md
Owners: @KetanReddy

fix code of conduct link
  README.md
Owners: @KetanReddy

Sync up to latest
  cli/src/utils/babel-register.ts
  language/dsl/src/compiler/__tests__/compiler.test.tsx
  language/dsl/src/compiler/compiler.ts
  language/dsl/src/compiler/types.ts
Owners: @KetanReddy, @adierkens

add missing resolve in cli
  cli/src/utils/babel-register.ts
Owners: @KetanReddy, @adierkens

sync up to latest
  cli/BUILD
  cli/src/__tests__/utils/fs.test.ts
  cli/src/commands/dsl/compile.ts
  cli/src/index.ts
  cli/src/plugins/index.ts
  cli/src/utils/base-command.ts
  cli/src/utils/compilation-context.ts
  cli/src/utils/fs.ts
  devtools/common/src/redux/reducers.ts
  devtools/common/src/types/state.ts
  language/dsl/src/__tests__/schema.test.tsx
  language/dsl/src/compiler/__tests__/compiler.test.tsx
  language/dsl/src/compiler/compiler.ts
  language/dsl/src/compiler/index.ts
  language/dsl/src/compiler/schema.ts
  language/dsl/src/compiler/types.ts
  language/dsl/src/compiler/utils.ts
  language/dsl/src/components.tsx
  language/dsl/src/index.ts
  language/dsl/src/utils.tsx
  package.json
  yarn.lock
Owners: @KetanReddy, @adierkens, @sugarmanz

Fix lint
  language/dsl/src/compiler/__tests__/compiler.test.tsx
  language/dsl/src/compiler/index.ts
Owners: @KetanReddy, @adierkens

use release versions of player
  package.json
  yarn.lock
Owners: @KetanReddy

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @KetanReddy

Bump version to: v0.4.0 [skip ci]
  VERSION
Owners: @KetanReddy

Update Player version and workflow dependencies
  .github/workflows/release.yml
  package.json
  yarn.lock
Owners: @KetanReddy

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @KetanReddy

Bump version to: v0.4.1 [skip ci]
  VERSION
Owners: @KetanReddy

update player version
  package.json
  yarn.lock
Owners: @KetanReddy

dep version check + other recent changes from internal
  cli/BUILD
  cli/src/__tests__/commands/check.test.ts
  cli/src/commands/dependency-versions/check.ts
  cli/src/commands/dsl/compile.ts
  cli/src/commands/dsl/validate.ts
  cli/src/utils/compiler-options.ts
  package.json
  yarn.lock
Owners: @KetanReddy, @adierkens

add dep check test
  cli/src/__tests__/commands/check.test.ts
Owners: @KetanReddy, @adierkens

lint
  cli/src/__tests__/commands/check.test.ts
  cli/src/commands/dependency-versions/check.ts
  cli/src/commands/dsl/validate.ts
  cli/src/utils/compiler-options.ts
Owners: @KetanReddy, @adierkens

Update to react@18
  language/dsl/BUILD
  language/dsl/src/compiler/compiler.ts
  language/dsl/src/string-templates/index.ts
  language/dsl/src/utils.tsx
  package.json
  yarn.lock
Owners: @KetanReddy, @adierkens

computeEffectiveObject merges equal additionalProperties
  xlr/utils/src/__tests__/__snapshots__/validation-helpers.test.ts.snap
  xlr/utils/src/__tests__/validation-helpers.test.ts
  xlr/utils/src/validation-helpers.ts
Owners: @KetanReddy

Unhide XLR lsp from LSPAssetPlugin
  cli/src/plugins/LSPAssetsPlugin.ts
Owners: @KetanReddy, @adierkens

properly handle TS Exclude keyword when compiling XLRs
  xlr/converters/src/__tests__/__snapshots__/ts-to-common.test.ts.snap
  xlr/converters/src/__tests__/ts-to-common.test.ts
  xlr/converters/src/ts-to-xlr.ts
  xlr/utils/src/ts-helpers.ts
  xlr/utils/src/validation-helpers.ts
Owners: @KetanReddy

Fix type error
  xlr/converters/src/ts-to-xlr.ts
Owners: @KetanReddy

Precompute and cache solving generics and extends
  cli/src/commands/json/validate.ts
  language/json-language-service/src/plugins/xlr-plugin.ts
  xlr/sdk/src/sdk.ts
  xlr/sdk/src/validator.ts
Owners: @KetanReddy, @adierkens

Fix tests
  xlr/sdk/src/sdk.ts
Owners: @KetanReddy

language changes
  language/dsl/src/compiler/__tests__/schema.test.ts
  language/dsl/src/compiler/compiler.ts
  language/dsl/src/compiler/schema.ts
  language/dsl/src/compiler/types.ts
  language/dsl/src/string-templates/__tests__/binding.test.ts
  language/dsl/src/string-templates/index.ts
Owners: @KetanReddy, @adierkens

lint
  language/dsl/src/compiler/compiler.ts
  language/json-language-service/src/xlr/transforms.ts
Owners: @KetanReddy, @adierkens

Fix template validations not being bubbled up
  xlr/sdk/src/validator.ts
Owners: @KetanReddy

Use title as fallback for name when computing effective object
  xlr/utils/src/validation-helpers.ts
Owners: @KetanReddy

make missing view/asset definitions errors instead of warnings
  language/json-language-service/src/plugins/__tests__/nav-state-plugin.test.ts
  language/json-language-service/src/plugins/xlr-plugin.ts
Owners: @KetanReddy, @adierkens

fixed most of the tests for dep check
  cli/BUILD
  cli/package.json
  cli/src/__tests__/commands/check.test.ts
  cli/src/commands/dependency-versions/check.ts
  cli/yarn.lock
  package.json
  yarn.lock
Owners: @KetanReddy, @adierkens

fixed the rest of the tests, not awful at all
  cli/src/__tests__/commands/check.test.ts
Owners: @KetanReddy, @adierkens

reference relevant repos
  cli/src/commands/dependency-versions/check.ts
Owners: @KetanReddy, @adierkens

refill inline results
  cli/src/__tests__/commands/check.test.ts
Owners: @KetanReddy, @adierkens

lint
  cli/src/commands/dependency-versions/check.ts
Owners: @KetanReddy, @adierkens

fix schema
  language/dsl/src/compiler/schema.ts
Owners: @KetanReddy, @adierkens

fix languages
  language/dsl/src/compiler/__tests__/compiler.test.tsx
  language/dsl/src/compiler/compiler.ts
  language/dsl/src/compiler/schema.ts
Owners: @KetanReddy, @adierkens

remove volta rom cli package json
  cli/package.json
Owners: @KetanReddy, @adierkens

undo yarn lock changes
  cli/yarn.lock
Owners: @KetanReddy, @adierkens
