Repository player-ui/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KetanReddy, @adierkens, @sugarmanz

regen yarn lock
  yarn.lock
Owners: @KetanReddy

Properly filter type unions in Exclude types
  xlr/utils/src/ts-helpers.ts
Owners: @KetanReddy

test with node-less docker image
  .circleci/config.yml
Owners: @KetanReddy

Allow multiple types to be specified in transform generator and leverage to apply AWoS to Views
  language/json-language-service/src/xlr/transforms.ts
  xlr/sdk/src/utils.ts
Owners: @KetanReddy

specify yarn version via volta
  package.json
Owners: @KetanReddy

Actually deep clone objects, fix template transform
  language/json-language-service/src/xlr/transforms.ts
  xlr/sdk/src/registry/basic-registry.ts
  xlr/sdk/src/sdk.ts
  xlr/utils/src/validation-helpers.ts
Owners: @KetanReddy

use non-hacky clone
  xlr/converters/src/ts-to-xlr.ts
  xlr/sdk/src/registry/basic-registry.ts
  xlr/sdk/src/sdk.ts
  xlr/utils/src/validation-helpers.ts
Owners: @KetanReddy

Properly apply applicability to imported types
  language/json-language-service/src/xlr/transforms.ts
Owners: @KetanReddy

Fix comparisons between refs and or types
  xlr/utils/src/validation-helpers.ts
Owners: @KetanReddy

better error message for failed or type validations
  xlr/sdk/src/validator.ts
Owners: @KetanReddy

Fix generic tokens not being transformed and temp fix complex extends resolution errors
  xlr/sdk/src/sdk.ts
  xlr/sdk/src/utils.ts
  xlr/sdk/src/validator.ts
Owners: @KetanReddy

fix deps
  language/dsl/BUILD
  language/dsl/src/template.tsx
  package.json
  yarn.lock
Owners: @KetanReddy, @adierkens

lint
  devtools/ui/src/components/App.tsx
  devtools/ui/src/components/config/Config.tsx
  devtools/ui/src/components/console/Console.tsx
  devtools/ui/src/components/data/Data.tsx
  devtools/ui/src/components/events/Events.tsx
  devtools/ui/src/components/flow/Flow.tsx
  devtools/ui/src/components/info/Info.tsx
  devtools/ui/src/components/panel-navigation.tsx
  devtools/ui/src/components/panels.tsx
  devtools/ui/src/components/profiler/Profiler.tsx
  devtools/ui/src/components/view/ViewInspector.tsx
  language/json-language-service/src/types.ts
Owners: @sugarmanz, @KetanReddy, @adierkens

Add support for CLI LSP and XLR plugins
  cli/src/plugins/LSPPluginPlugin.ts
  cli/src/plugins/LSPTransformsPlugin.ts
  language/json-language-service/src/index.ts
  xlr/sdk/src/sdk.ts
Owners: @KetanReddy, @adierkens

Bump circle build size
  .circleci/config.yml
Owners: @KetanReddy

chore: changes coverage query
  .circleci/config.yml
Owners: @KetanReddy

sync'
  cli/BUILD
  cli/src/__tests__/commands/check.test.ts
  cli/src/commands/dependency-versions/check.ts
  cli/src/commands/dsl/compile.ts
  cli/src/commands/dsl/validate.ts
  cli/src/utils/compiler-options.ts
  cli/yarn.lock
  devtools/ui/src/components/App.tsx
  devtools/ui/src/components/console/Console.tsx
  devtools/ui/src/components/data/Data.tsx
  devtools/ui/src/components/events/Events.tsx
  devtools/ui/src/components/flow/Flow.tsx
  devtools/ui/src/components/info/Info.tsx
  devtools/ui/src/components/panel-navigation.tsx
  devtools/ui/src/components/panels.tsx
  devtools/ui/src/components/profiler/Profiler.tsx
  devtools/ui/src/components/view/ViewInspector.tsx
  language/dsl/src/compiler/__tests__/compiler.test.tsx
  language/dsl/src/compiler/__tests__/schema.test.ts
  language/dsl/src/compiler/compiler.ts
  language/dsl/src/compiler/schema.ts
  language/dsl/src/compiler/types.ts
  language/dsl/src/string-templates/__tests__/binding.test.ts
  language/dsl/src/string-templates/index.ts
  language/json-language-service/src/xlr/transforms.ts
  package.json
  pnpm-lock.yaml
Owners: @KetanReddy, @adierkens, @sugarmanz

fix check tests
  cli/src/__tests__/commands/check.test.ts
Owners: @KetanReddy, @adierkens

revert to clone hack
  xlr/converters/src/ts-to-xlr.ts
  xlr/sdk/src/registry/basic-registry.ts
  xlr/sdk/src/sdk.ts
  xlr/utils/src/validation-helpers.ts
Owners: @KetanReddy

fixed lint everywhere
  cli/src/__tests__/commands/check.test.ts
  cli/src/__tests__/config.test.ts
  cli/src/commands/dependency-versions/check.ts
  cli/src/commands/dsl/compile.ts
  cli/src/commands/dsl/validate.ts
  cli/src/utils/compiler-options.ts
  language/dsl/src/compiler/__tests__/schema.test.ts
  language/dsl/src/compiler/compiler.ts
  language/dsl/src/compiler/schema.ts
  language/dsl/src/compiler/types.ts
  language/dsl/src/string-templates/__tests__/binding.test.ts
  language/dsl/src/string-templates/index.ts
  xlr/converters/src/__tests__/common-to-ts.test.ts
  xlr/converters/src/__tests__/ts-to-common.test.ts
Owners: @KetanReddy, @adierkens

more test fixes
  cli/src/__tests__/commands/check.test.ts
  language/dsl/src/compiler/__tests__/schema.test.ts
  language/dsl/src/compiler/compiler.ts
Owners: @KetanReddy, @adierkens

check test
  cli/src/__tests__/commands/check.test.ts
Owners: @KetanReddy, @adierkens

Fix tests
  cli/src/plugins/LSPPluginPlugin.ts
  cli/src/plugins/LSPTransformsPlugin.ts
  language/json-language-service/src/__tests__/__snapshots__/service.test.ts.snap
  language/json-language-service/src/index.ts
  language/json-language-service/src/xlr/__tests__/__snapshots__/transform.test.ts.snap
  xlr/sdk/src/__tests__/__snapshots__/sdk.test.ts.snap
  xlr/sdk/src/utils.ts
  xlr/sdk/src/validator.ts
  xlr/utils/src/validation-helpers.ts
Owners: @KetanReddy, @adierkens

bit of clean up
  cli/src/__tests__/config.test.ts
  cli/yarn.lock
  xlr/converters/src/__tests__/common-to-ts.test.ts
  xlr/converters/src/__tests__/ts-to-common.test.ts
Owners: @KetanReddy, @adierkens

Actually export new LSP plugins
  cli/src/plugins/LSPAssetsPlugin.ts
  cli/src/plugins/LSPTransformsPlugin.ts
  cli/src/plugins/index.ts
Owners: @KetanReddy, @adierkens

remove glob
  cli/BUILD
  cli/src/__tests__/commands/check.test.ts
  cli/src/commands/dependency-versions/check.ts
Owners: @KetanReddy, @adierkens

feat: oclif's bespoke build
  BUILD.bazel
  MODULE.bazel
  cli/BUILD
  cli/gen_package_json.bzl
  cli/gen_package_json.js
  cli/package.json
  package.json
  pnpm-lock.yaml
  xlr/converters/src/__tests__/common-to-ts.test.ts
  xlr/converters/src/__tests__/ts-to-common.test.ts
Owners: @KetanReddy, @adierkens

CLI build working
  cli/BUILD
Owners: @KetanReddy, @adierkens

Update release script to work with new bazel 6 targets
  scripts/release.sh
Owners: @KetanReddy

Stamp build and dont publish static xlrs
  MODULE.bazel
  cli/BUILD
  common/static-xlrs/BUILD
Owners: @KetanReddy, @adierkens

8630-playa: DSL Schema stuff to OS tools
  language/dsl/src/__tests__/util.test.tsx
  language/dsl/src/compiler/types.ts
  language/dsl/src/types.ts
  language/dsl/src/utils.tsx
Owners: @KetanReddy, @adierkens

Don't add undefined if property doesn't exist on initial object
  language/json-language-service/src/xlr/__tests__/__snapshots__/transform.test.ts.snap
  xlr/sdk/src/__tests__/__snapshots__/sdk.test.ts.snap
  xlr/sdk/src/utils.ts
Owners: @KetanReddy

stamp failing
  cli/BUILD
  cli/gen_package_json.bzl
  common/static-xlrs/BUILD
Owners: @KetanReddy, @adierkens

8630-playa: DataTypeReferemce cleanup
  language/dsl/src/types.ts
Owners: @KetanReddy, @adierkens

Add stamping support to package_json creation
  MODULE.bazel
  cli/BUILD
  cli/gen_package_json.bzl
  cli/gen_package_json.js
Owners: @KetanReddy, @adierkens

Use sha for rules_player
  MODULE.bazel
Owners: @KetanReddy

Fix merge
  cli/BUILD
Owners: @KetanReddy, @adierkens

Update config.yml
  .circleci/config.yml
Owners: @KetanReddy

8785: Setting reading TSConf with dsl Validate
  cli/src/commands/dsl/validate.ts
Owners: @KetanReddy, @adierkens

DSLSchema tool docs + ValidationTypeRefs type
  language/dsl/README.md
  language/dsl/src/types.ts
Owners: @KetanReddy, @adierkens

.github/CODEOWNERS:

# Fallback
* @KetanReddy 

# Language
language/ @KetanReddy @adierkens
cli/ @KetanReddy @adierkens

# XLR
xlr/ @KetanReddy
drag-and-drop/ @KetanReddy @adierkens

# DevTools
devtools/ @sugarmanz
