Repository player-ui/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KetanReddy, @adierkens, @sugarmanz

new line to test canary
  CONTRIBUTING.md
Owners: @KetanReddy

change fork check
  .github/workflows/canary.yml
Owners: @KetanReddy

change fork check (#144)
  .github/workflows/canary.yml
Owners: @KetanReddy

trigger forked PR canary in correct format hopefully
  .github/workflows/canary.yml
Owners: @KetanReddy

trigger forked PR canary in correct format hopefully (#145)
  .github/workflows/canary.yml
Owners: @KetanReddy

Update cli to allow compilation to any file type
  cli/src/commands/dsl/compile.ts
  cli/src/utils/compilation-context.ts
Owners: @KetanReddy, @adierkens

revert canary on forks
  .github/workflows/canary.yml
Owners: @KetanReddy

Fix typings on compileContent hook to be more generic
  cli/src/commands/dsl/compile.ts
  cli/src/utils/compilation-context.ts
Owners: @KetanReddy, @adierkens

Bump version to: v0.7.0 [skip ci]
  VERSION
Owners: @KetanReddy

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @KetanReddy

node 20, typescript 5.5
  MODULE.bazel
  package.json
  pnpm-lock.yaml
  tsconfig.json
Owners: @KetanReddy

Fix automatic tsc selection by rules ts
  MODULE.bazel
  MODULE.bazel.lock
  cli/tsconfig.json
  package.json
  pnpm-lock.yaml
Owners: @KetanReddy, @adierkens

Fix some declaration issues
  cli/src/plugins/LSPAssetsPlugin.ts
  cli/src/plugins/LSPPluginPlugin.ts
  cli/src/plugins/LSPTransformsPlugin.ts
Owners: @KetanReddy, @adierkens

re-add compiler formatting to dsl output
  cli/src/utils/compilation-context.ts
Owners: @KetanReddy, @adierkens

add more comments
  MODULE.bazel
Owners: @KetanReddy

fix lint
  MODULE.bazel.lock
  cli/src/plugins/LSPAssetsPlugin.ts
  cli/src/plugins/LSPPluginPlugin.ts
  cli/src/plugins/LSPTransformsPlugin.ts
Owners: @KetanReddy, @adierkens

Fix source maps not being generated for DSL content
  cli/bin/dev
  cli/bin/run
Owners: @KetanReddy, @adierkens

update to latest oclif
  cli/bin/dev
  cli/bin/run
  cli/src/commands/xlr/compile.ts
  cli/src/commands/xlr/convert.ts
  cli/src/utils/base-command.ts
  package.json
  pnpm-lock.yaml
Owners: @KetanReddy, @adierkens

update dset to lodash.set
  devtools/client/BUILD
  devtools/client/src/state/reducer.ts
  devtools/plugins/desktop/basic/BUILD
  devtools/plugins/desktop/basic/package.json
  devtools/plugins/desktop/basic/src/WrapperComponent.tsx
  devtools/plugins/desktop/basic/src/index.tsx
  devtools/plugins/desktop/common/BUILD
  devtools/plugins/desktop/common/src/state/reducer.ts
  devtools/plugins/desktop/common/src/state/usePluginState.ts
  devtools/plugins/desktop/profiler/BUILD
  devtools/plugins/desktop/profiler/src/WrapperComponent.tsx
  devtools/plugins/desktop/template/BUILD.hbs
  devtools/plugins/desktop/template/src/WrapperComponent.tsx.hbs
  package.json
  pnpm-lock.yaml
Owners: @sugarmanz, @KetanReddy

removed logs
  devtools/plugins/desktop/basic/src/WrapperComponent.tsx
  devtools/plugins/desktop/common/src/state/reducer.ts
  devtools/plugins/desktop/common/src/state/usePluginState.ts
Owners: @sugarmanz

linting errors
  devtools/client/src/state/reducer.ts
  devtools/plugins/desktop/basic/src/index.tsx
  devtools/plugins/desktop/profiler/src/WrapperComponent.tsx
Owners: @sugarmanz

linting errors
  devtools/plugins/desktop/basic/src/WrapperComponent.tsx
Owners: @sugarmanz

lint fixes
  devtools/plugins/desktop/basic/src/WrapperComponent.tsx
Owners: @sugarmanz

feat: doesn't exit with error if warn-only on dsl validation
  cli/src/commands/dsl/validate.ts
Owners: @KetanReddy, @adierkens

feat: propagate severity flag to dsl validation
  cli/src/commands/dsl/compile.ts
Owners: @KetanReddy, @adierkens

feat: only halt on error if severity is not warn
  cli/src/commands/dsl/validate.ts
Owners: @KetanReddy, @adierkens

chore: use ts.DiagnosticCategories as key
  cli/src/commands/dsl/validate.ts
Owners: @KetanReddy, @adierkens

lint
  language/json-language-service/src/index.ts
  language/json-language-service/src/plugins/asset-wrapper-array-plugin.ts
  language/json-language-service/src/plugins/binding-schema-plugin.ts
  language/json-language-service/src/plugins/duplicate-id-plugin.ts
  language/json-language-service/src/plugins/legacy-action-plugin.ts
  language/json-language-service/src/plugins/legacy-template-plugin.ts
  language/json-language-service/src/plugins/nav-state-plugin.ts
  language/json-language-service/src/plugins/view-node-plugin.ts
  language/json-language-service/src/plugins/xlr-plugin.ts
Owners: @KetanReddy, @adierkens

cleanup
  cli/src/commands/json/validate.ts
  language/json-language-service/src/constants.ts
  language/json-language-service/src/parser/index.ts
  language/json-language-service/src/plugins/__tests__/action-plugin.test.ts
  language/json-language-service/src/plugins/__tests__/template-plugin.test.ts
  language/json-language-service/src/plugins/legacy-action-plugin.ts
  language/json-language-service/src/plugins/legacy-template-plugin.ts
  language/json-language-service/src/utils.ts
Owners: @KetanReddy, @adierkens

Basic measure for code complexity
  language/json-language-service/BUILD
  language/json-language-service/src/plugins/__tests__/complexity-check-plugin.test.ts
  language/json-language-service/src/plugins/complexity-check.ts
Owners: @KetanReddy, @adierkens

print out info diagnostics
  cli/src/utils/diag-renderer.ts
Owners: @KetanReddy, @adierkens

Update js rules to latest
  MODULE.bazel
  MODULE.bazel.lock
  cli/BUILD
Owners: @KetanReddy, @adierkens

Update pnpm version
  package.json
  pnpm-lock.yaml
Owners: @KetanReddy

Use release version of rules
  MODULE.bazel
Owners: @KetanReddy

Update module lock
  MODULE.bazel.lock
Owners: @KetanReddy

Revert "Update pnpm version"
  package.json
  pnpm-lock.yaml
Owners: @KetanReddy

feat: highlight selected player instance
  devtools/client/src/panel/index.tsx
  devtools/client/src/state/index.ts
  devtools/plugins/desktop/basic/src/WrapperComponent.tsx
  devtools/plugins/desktop/basic/src/constants/index.ts
  devtools/plugins/desktop/basic/src/index.tsx
  devtools/plugins/desktop/basic/src/types.ts
  devtools/plugins/desktop/common/src/state/reducer.ts
  devtools/plugins/desktop/common/src/state/usePluginState.ts
  devtools/plugins/desktop/profiler/src/WrapperComponent.tsx
  devtools/plugins/desktop/profiler/src/index.tsx
  devtools/plugins/desktop/profiler/src/types.ts
  devtools/plugins/desktop/test-env/src/App.tsx
  devtools/plugins/desktop/test-env/src/flow2.json
  devtools/types/src/index.ts
Owners: @sugarmanz

chore: fixing messenger logic - wip
  devtools/client/src/panel/index.tsx
  devtools/client/src/state/index.ts
  devtools/messenger/src/__tests__/helpers/index.ts
  devtools/messenger/src/__tests__/index.test.ts
  devtools/messenger/src/index.ts
  devtools/plugins/desktop/basic/src/WrapperComponent.tsx
  devtools/plugins/desktop/common/src/state/usePluginState.ts
  devtools/types/src/index.ts
Owners: @sugarmanz

chore: fixing messenger logic
  devtools/client/src/panel/index.tsx
  devtools/client/src/state/index.ts
  devtools/messenger/src/__tests__/index.test.ts
  devtools/messenger/src/index.ts
Owners: @sugarmanz

add reducer test
  devtools/plugins/desktop/common/src/state/__tests__/reducer.test.ts
Owners: @sugarmanz

.github/CODEOWNERS:

# Fallback
* @KetanReddy 

# Language
language/ @KetanReddy @adierkens
cli/ @KetanReddy @adierkens

# XLR
xlr/ @KetanReddy
drag-and-drop/ @KetanReddy @adierkens

# DevTools
devtools/ @sugarmanz
