Repository player-ui/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KetanReddy, @adierkens, @sugarmanz

replace dset with set
  devtools/plugins/desktop/common/src/state/reducer.ts
Owners: @sugarmanz

remove debug flag
  devtools/client/src/state/index.ts
  devtools/plugins/desktop/common/src/state/usePluginState.ts
Owners: @sugarmanz

pnpm 9.7.0 upgrade
  package.json
  pnpm-lock.yaml
Owners: @KetanReddy

use bazelrc for main builds
  .circleci/config.yml
Owners: @KetanReddy

First pass at module and fs config for lsp asset plugin
  cli/src/plugins/LSPAssetsPlugin.ts
Owners: @KetanReddy, @adierkens

Update devtools-ui plugin
  package.json
  pnpm-lock.yaml
Owners: @KetanReddy

Bump version to: 0.8.0 [skip ci]
  VERSION
Owners: @KetanReddy

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @KetanReddy

Don't create oclif manifest
  cli/BUILD
  cli/package.json
Owners: @KetanReddy, @adierkens

Bump version to: 0.8.1 [skip ci]
  VERSION
Owners: @KetanReddy

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @KetanReddy

Add options to LSPAssetsPlugin to load from TSManifest via module import
  cli/src/plugins/LSPAssetsPlugin.ts
Owners: @KetanReddy, @adierkens

client side reducers, merge
  devtools/client/BUILD
  devtools/client/src/state/reducer.ts
  devtools/plugins/desktop/common/BUILD
  devtools/plugins/desktop/common/src/state/reducer.ts
  devtools/plugins/desktop/test-env/package.json
  devtools/plugins/desktop/test-env/setup.sh
  package.json
  pnpm-lock.yaml
Owners: @sugarmanz, @KetanReddy

reverting to dset
  devtools/client/BUILD
  devtools/client/src/state/reducer.ts
  devtools/plugins/desktop/basic/BUILD
  devtools/plugins/desktop/basic/src/WrapperComponent.tsx
  devtools/plugins/desktop/basic/src/index.tsx
  devtools/plugins/desktop/common/BUILD
  devtools/plugins/desktop/common/src/state/reducer.ts
  devtools/plugins/desktop/profiler/BUILD
  devtools/plugins/desktop/profiler/src/WrapperComponent.tsx
  devtools/plugins/desktop/template/BUILD.hbs
  devtools/plugins/desktop/template/src/WrapperComponent.tsx.hbs
  devtools/plugins/desktop/test-env/setup.sh
  package.json
  pnpm-lock.yaml
Owners: @sugarmanz, @KetanReddy

update other sets
  devtools/plugins/desktop/basic/BUILD
  devtools/plugins/desktop/basic/src/index.tsx
  devtools/plugins/desktop/profiler/src/WrapperComponent.tsx
Owners: @sugarmanz

WIP, safely merging with dset
  devtools/client/src/state/reducer.ts
  devtools/plugins/desktop/basic/src/WrapperComponent.tsx
  devtools/plugins/desktop/common/src/state/reducer.ts
  devtools/plugins/desktop/profiler/src/WrapperComponent.tsx
Owners: @sugarmanz

WIP; working devtools, need to clean up code + tests
  devtools/client/BUILD
  devtools/client/src/state/reducer.ts
  devtools/plugins/desktop/basic/BUILD
  devtools/plugins/desktop/basic/src/WrapperComponent.tsx
  devtools/plugins/desktop/common/BUILD
  devtools/plugins/desktop/common/src/state/reducer.ts
  devtools/plugins/desktop/profiler/src/WrapperComponent.tsx
  package.json
  pnpm-lock.yaml
Owners: @sugarmanz, @KetanReddy

added try catch around dset, this allows things not to break in the ui
  devtools/client/BUILD
  devtools/client/src/state/reducer.ts
  devtools/plugins/desktop/basic/BUILD
  devtools/plugins/desktop/basic/src/WrapperComponent.tsx
  devtools/plugins/desktop/common/BUILD
  devtools/plugins/desktop/common/src/state/reducer.ts
  devtools/plugins/desktop/profiler/src/WrapperComponent.tsx
  package.json
  pnpm-lock.yaml
Owners: @sugarmanz, @KetanReddy

simple unit tests
  devtools/plugins/desktop/basic/src/__tests__/index.test.tsx
Owners: @sugarmanz

Add tests
  cli/src/plugins/__tests__/LSPAssetsPlugin.test.ts
Owners: @KetanReddy, @adierkens

changed from log to error
  devtools/plugins/desktop/basic/src/WrapperComponent.tsx
Owners: @sugarmanz

Add functionality for all diagnostic severity levels
  cli/src/commands/dsl/compile.ts
  cli/src/commands/json/validate.ts
  cli/src/utils/base-command.ts
  cli/src/utils/diag-renderer.ts
  cli/src/utils/log-levels.ts
  cli/src/utils/task-runner.ts
Owners: @KetanReddy, @adierkens

tsdeep
  devtools/plugins/desktop/basic/BUILD
  devtools/plugins/desktop/basic/src/WrapperComponent.tsx
  devtools/plugins/desktop/basic/src/index.tsx
  package.json
  pnpm-lock.yaml
Owners: @sugarmanz, @KetanReddy

revert setup.sh for verdaccio
  devtools/plugins/desktop/test-env/setup.sh
Owners: @sugarmanz

more unit tests
  devtools/plugins/desktop/basic/src/__tests__/index.test.tsx
  devtools/plugins/desktop/common/src/state/__tests__/reducer.test.ts
  devtools/plugins/desktop/common/src/state/reducer.ts
Owners: @sugarmanz

removed unusued import
  devtools/plugins/desktop/basic/src/WrapperComponent.tsx
Owners: @sugarmanz

increased get and eval scores from 2 to 4 each
  language/complexity-check-plugin/README.md
  language/complexity-check-plugin/src/complexity-check.ts
Owners: @KetanReddy, @adierkens

remove expired API key
  .bazelrc
Owners: @KetanReddy

updating tests based on increased points for expressions
  language/complexity-check-plugin/src/__tests__/complexity-check-plugin.test.ts
Owners: @KetanReddy, @adierkens

supported nested templates, updated readme
  language/json-language-service/src/plugins/README.md
  language/json-language-service/src/plugins/__tests__/complexity-check-plugin.test.ts
  language/json-language-service/src/plugins/complexity-check.ts
Owners: @KetanReddy, @adierkens

added complexity for viewTypes
  language/json-language-service/src/plugins/__tests__/complexity-check-plugin.test.ts
  language/json-language-service/src/plugins/complexity-check.ts
Owners: @KetanReddy, @adierkens

added complexity for viewTypes
  language/json-language-service/src/plugins/complexity-check.ts
Owners: @KetanReddy, @adierkens

complexity added, WIP: cleaning up logic
  language/json-language-service/src/plugins/__tests__/complexity-check-plugin.test.ts
  language/json-language-service/src/plugins/complexity-check.ts
Owners: @KetanReddy, @adierkens

fixed warning bug, created new package
  .bazelignore
  language/complexity-check-plugin/BUILD
  language/complexity-check-plugin/README.md
  language/complexity-check-plugin/package.json
  language/complexity-check-plugin/src/__tests__/complexity-check-plugin.test.ts
  language/complexity-check-plugin/src/complexity-check.ts
  language/complexity-check-plugin/src/index.ts
  language/json-language-service/src/plugins/README.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @KetanReddy, @adierkens

Bump version to: 0.8.0 [skip ci]
  VERSION
Owners: @KetanReddy

Update module lock
  MODULE.bazel.lock
Owners: @KetanReddy

cleaning up console log messages and supporting verbose conditional
  language/complexity-check-plugin/src/__tests__/complexity-check-plugin.test.ts
  language/complexity-check-plugin/src/complexity-check.ts
Owners: @KetanReddy, @adierkens

use bazelrc for main builds
  .circleci/config.yml
Owners: @KetanReddy

add reducer test
  devtools/plugins/desktop/common/src/state/__tests__/reducer.test.ts
Owners: @sugarmanz

rebasing, pnpm updates
  package.json
  pnpm-lock.yaml
Owners: @KetanReddy

.github/CODEOWNERS:

# Fallback
* @KetanReddy 

# Language
language/ @KetanReddy @adierkens
cli/ @KetanReddy @adierkens

# XLR
xlr/ @KetanReddy
drag-and-drop/ @KetanReddy @adierkens

# DevTools
devtools/ @sugarmanz
