Repository player-ui/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KetanReddy, @adierkens, @sugarmanz

.github/CODEOWNERS:

# Fallback
* @KetanReddy 

# Language
language/ @KetanReddy @adierkens
cli/ @KetanReddy @adierkens

# XLR
xlr/ @KetanReddy
drag-and-drop/ @KetanReddy @adierkens

# DevTools
devtools/ @sugarmanz

Devtools/ObjectInspector/FlowFilter
  devtools/plugins/desktop/basic/src/content/views/FlowView.tsx
  package.json
  pnpm-lock.yaml
Owners: @sugarmanz, @KetanReddy

feat: add web dev tools plugin generator (#132)
  devtools/plugins/desktop/template/BUILD.hbs
  devtools/plugins/desktop/template/README.md.hbs
  devtools/plugins/desktop/template/_generated/index.json
  devtools/plugins/desktop/template/package.json.hbs
  devtools/plugins/desktop/template/src/WrapperComponent.tsx.hbs
  devtools/plugins/desktop/template/src/constants/index.ts.hbs
  devtools/plugins/desktop/template/src/content/common/Screen.tsx.hbs
  devtools/plugins/desktop/template/src/content/common/index.ts.hbs
  devtools/plugins/desktop/template/src/content/index.ts.hbs
  devtools/plugins/desktop/template/src/content/navigation/index.ts.hbs
  devtools/plugins/desktop/template/src/content/schema/index.ts.hbs
  devtools/plugins/desktop/template/src/content/views/View1.tsx.hbs
  devtools/plugins/desktop/template/src/content/views/View2.tsx.hbs
  devtools/plugins/desktop/template/src/content/views/index.ts.hbs
  devtools/plugins/desktop/template/src/helpers/__tests__/genDataChangeTransaction.test.ts.hbs
  devtools/plugins/desktop/template/src/helpers/genDataChangeTransaction.ts.hbs
  devtools/plugins/desktop/template/src/helpers/index.ts.hbs
  devtools/plugins/desktop/template/src/index.tsx.hbs
  devtools/plugins/desktop/template/tsconfig.json.hbs
  plopfile.mjs
Owners: @sugarmanz, @KetanReddy

chore: fixing templates
  devtools/plugins/desktop/template/BUILD.hbs
  devtools/plugins/desktop/template/README.md.hbs
  package.json
  plopfile.mjs
  pnpm-lock.yaml
Owners: @sugarmanz, @KetanReddy

chore: locks
  devtools/plugins/desktop/test-env/package.json
  pnpm-lock.yaml
Owners: @sugarmanz, @KetanReddy

Add option to skip optimizations, tests.
  xlr/sdk/src/__tests__/__snapshots__/sdk.test.ts.snap
  xlr/sdk/src/__tests__/sdk.test.ts
  xlr/sdk/src/__tests__/utils.test.ts
  xlr/sdk/src/sdk.ts
Owners: @KetanReddy

Fix issue where walked wan't returning transformed node if there were no subnodes to transform
  xlr/sdk/src/utils.ts
Owners: @KetanReddy

Allow resolution of extends when its a union type
  xlr/sdk/src/sdk.ts
Owners: @KetanReddy

Fix failing tests
  xlr/sdk/src/__tests__/__snapshots__/sdk.test.ts.snap
  xlr/sdk/src/sdk.ts
  xlr/utils/src/validation-helpers.ts
Owners: @KetanReddy

chore: move plopfile to scripts
  package.json
  scripts/plopfile.mjs
Owners: @KetanReddy

chore: bump locks and set modules to auto
  cli/src/utils/babel-register.ts
  pnpm-lock.yaml
Owners: @KetanReddy, @adierkens

PR Feedbck
  language/json-language-service/src/plugins/asset-wrapper-array-plugin.ts
  xlr/sdk/src/sdk.ts
Owners: @KetanReddy, @adierkens

lets build_and_test_pr run from a fork
  .circleci/config.yml
Owners: @KetanReddy

upgrade to ts 5.5
  package.json
  pnpm-lock.yaml
  tsconfig.build.json
Owners: @KetanReddy

Rmv js_pipeline added
  devtools/plugins/mobile/flipper-desktop-client/BUILD
Owners: @sugarmanz

Testing js pipeline added in build
  devtools/plugins/mobile/flipper-desktop-client/BUILD
Owners: @sugarmanz

update deps to latest
  MODULE.bazel
  package.json
  pnpm-lock.yaml
Owners: @KetanReddy

Defining js_pipeline
  devtools/plugins/mobile/flipper-desktop-client/BUILD
Owners: @sugarmanz

Bazel rules update for flipper plugin
  devtools/plugins/mobile/flipper-desktop-client/BUILD
Owners: @sugarmanz

flipper-desktop-client target used in npm_pacage
  devtools/plugins/mobile/flipper-desktop-client/BUILD
Owners: @sugarmanz

Updated package name
  devtools/plugins/mobile/flipper-desktop-client/package.json
Owners: @sugarmanz

Synching right package name for flipper plugin
  devtools/plugins/mobile/flipper-desktop-client/BUILD
  devtools/plugins/mobile/flipper-desktop-client/package.json
Owners: @sugarmanz

Added macro for .npm-publish target
  devtools/plugins/mobile/flipper-desktop-client/BUILD
Owners: @sugarmanz

Adding missing deps to npm_package
  devtools/plugins/mobile/flipper-desktop-client/BUILD
Owners: @sugarmanz

Default chdir on js_binary
  devtools/plugins/mobile/flipper-desktop-client/BUILD
Owners: @sugarmanz

package test with js_pipeline macro
  devtools/plugins/mobile/flipper-desktop-client/BUILD
Owners: @sugarmanz

Added tsup config
  devtools/plugins/mobile/flipper-desktop-client/BUILD
Owners: @sugarmanz

Loaded tsup dependency
  devtools/plugins/mobile/flipper-desktop-client/BUILD
Owners: @sugarmanz

Reverted to original + npm and package creation
  devtools/plugins/mobile/flipper-desktop-client/BUILD
Owners: @sugarmanz

PR token test
  README.md
Owners: @KetanReddy

Testing with native.package_name
  devtools/plugins/mobile/flipper-desktop-client/BUILD
Owners: @sugarmanz

implementing chdir for package.json
  devtools/plugins/mobile/flipper-desktop-client/BUILD
Owners: @sugarmanz

Package name cleanup
  devtools/plugins/mobile/flipper-desktop-client/BUILD
Owners: @sugarmanz

Fixing npm bazel target
  devtools/plugins/mobile/flipper-desktop-client/BUILD
Owners: @sugarmanz

[bazel - npm registry] flipper-plugin-player-ui-devtools (#138)
  devtools/plugins/mobile/flipper-desktop-client/BUILD
  devtools/plugins/mobile/flipper-desktop-client/package.json
Owners: @sugarmanz

add newline to make a diff
  README.md
Owners: @KetanReddy

Update README.md
  README.md
Owners: @KetanReddy

try to make canary build work for fork
  .github/workflows/canary.yml
Owners: @KetanReddy

added circleCI canary build for forks
  .github/workflows/canary.yml
Owners: @KetanReddy

[circleCI] allows us to build from forks (#135)
  .circleci/config.yml
  .github/workflows/canary.yml
Owners: @KetanReddy

test canary from fork
  README.md
Owners: @KetanReddy
