Repository player-ui/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KetanReddy, @adierkens, @sugarmanz

chore: refactor
  devtools/plugins/desktop/profiler/src/WrapperComponent.tsx
  devtools/plugins/desktop/profiler/src/content/index.ts
  devtools/plugins/desktop/profiler/src/content/schema/index.ts
  devtools/plugins/desktop/profiler/src/content/views/ProfilerView.tsx
  devtools/plugins/desktop/profiler/src/helpers/__tests__/profiler.test.ts
  devtools/plugins/desktop/profiler/src/helpers/profiler.ts
  devtools/plugins/desktop/profiler/src/index.tsx
  devtools/plugins/desktop/profiler/src/types.ts
  pnpm-lock.yaml
Owners: @sugarmanz, @KetanReddy

chore: tests
  .codecov.yml
  devtools/plugins/desktop/profiler/src/__tests__/index.test.tsx
  devtools/plugins/desktop/profiler/src/content/views/ProfilerView.tsx
  devtools/plugins/desktop/profiler/src/helpers/__tests__/profiler.test.ts
  devtools/plugins/desktop/profiler/src/helpers/profiler.ts
  devtools/plugins/desktop/profiler/src/types.ts
  devtools/plugins/desktop/profiler/tsconfig.json
  pnpm-lock.yaml
Owners: @KetanReddy, @sugarmanz

removed check of going to the first player that was selected
  devtools/client/src/state/reducer.ts
Owners: @sugarmanz

testing signed commit
  devtools/client/src/state/reducer.ts
Owners: @sugarmanz

signed commit
  devtools/client/src/state/reducer.ts
Owners: @sugarmanz

When using devtools, the selected player should be the one that is being used on refresh
  devtools/client/src/state/reducer.ts
Owners: @sugarmanz

Fix regression on validation of keys with escaped characters. Add better tests for that as well
  xlr/utils/src/__tests__/validation-helpers.test.ts
  xlr/utils/src/validation-helpers.ts
Owners: @KetanReddy

Fix bug parsing IATs when object is wrapped in parens
  xlr/converters/src/__tests__/__snapshots__/ts-to-common.test.ts.snap
  xlr/converters/src/__tests__/ts-to-common.test.ts
  xlr/converters/src/ts-to-xlr.ts
Owners: @KetanReddy

Updated the selected player for devtools
  devtools/client/src/state/reducer.ts
Owners: @sugarmanz

WIP; player selection and debug section styled
  devtools/plugins/desktop/test-env/setup.sh
Owners: @sugarmanz

WIP; player selection and debug section styled
  devtools/client/src/panel/index.tsx
Owners: @sugarmanz

Use slim bazel image
  .circleci/config.yml
Owners: @KetanReddy

Dev assets object inspector filter version
  package.json
  pnpm-lock.yaml
Owners: @KetanReddy

Enabling path filter for object inspector
  devtools/plugins/desktop/basic/src/content/views/FlowView.tsx
Owners: @sugarmanz

chore: dsl bazel macro
  devtools/plugins/desktop/basic/BUILD
  devtools/plugins/desktop/profiler/BUILD
  helpers/defs.bzl
  pnpm-lock.yaml
Owners: @sugarmanz, @KetanReddy

chore: update readme
  devtools/plugins/desktop/profiler/README.md
Owners: @sugarmanz

Added additional DSL types and component.
  language/dsl/src/__tests__/asset-api.test.tsx
  language/dsl/src/__tests__/helpers/asset-library.tsx
  language/dsl/src/auto-id.tsx
  language/dsl/src/types.ts
Owners: @KetanReddy, @adierkens

chore: bumping test coverage
  devtools/plugins/desktop/profiler/src/__tests__/__snapshots__/index.test.tsx.snap
  devtools/plugins/desktop/profiler/src/__tests__/index.test.tsx
Owners: @sugarmanz

updated package json with devtools and fixed panel
  devtools/client/src/panel/index.tsx
  package.json
Owners: @sugarmanz, @KetanReddy

removed test
  devtools/plugins/desktop/test-env/setup.sh
Owners: @sugarmanz

chore: fix plugin switching on new content
  devtools/client/src/state/reducer.ts
  devtools/plugins/desktop/profiler/BUILD
  devtools/plugins/desktop/profiler/src/__tests__/__snapshots__/index.test.tsx.snap
  devtools/plugins/desktop/profiler/src/__tests__/index.test.tsx
  pnpm-lock.yaml
Owners: @sugarmanz, @KetanReddy

chore: bump devtools-ui/plugin
  package.json
  pnpm-lock.yaml
Owners: @KetanReddy

Check against null literal instead of string null when validating a null type
  xlr/sdk/src/validator.ts
Owners: @KetanReddy

chore: pr auto dry-run
  .github/workflows/pr.yaml
Owners: @KetanReddy

chore: only dry-run
  .github/workflows/pr.yaml
Owners: @KetanReddy

chore: action config
  .github/workflows/pr.yaml
Owners: @KetanReddy

chore: move dry run to ci
  .circleci/config.yml
  .github/workflows/pr.yaml
  pnpm-lock.yaml
Owners: @KetanReddy

chore: use git status --porcelain
  .circleci/config.yml
Owners: @KetanReddy

Update .circleci/config.yml
  .circleci/config.yml
Owners: @KetanReddy

Testing Object inspector filter feat devtools
  devtools/plugins/desktop/test-env/setup.sh
  package.json
  pnpm-lock.yaml
Owners: @sugarmanz, @KetanReddy

First test js_pipeline
  devtools/plugins/mobile/flipper-desktop-client/BUILD
Owners: @sugarmanz

Testing with plugin type
  devtools/plugins/mobile/flipper-desktop-client/BUILD
  devtools/plugins/mobile/flipper-desktop-client/package.json
Owners: @sugarmanz

Fully expand out XLR before returning from SDK
  xlr/converters/src/__tests__/__snapshots__/player.test.ts.snap
  xlr/sdk/src/__tests__/__snapshots__/sdk.test.ts.snap
  xlr/sdk/src/sdk.ts
  xlr/sdk/src/validator.ts
  xlr/utils/src/ts-helpers.ts
Owners: @KetanReddy

Fill in genericArguments in TemplateProperty transform
  language/json-language-service/src/__tests__/__snapshots__/service.test.ts.snap
  language/json-language-service/src/plugins/asset-wrapper-array-plugin.ts
  language/json-language-service/src/xlr/__tests__/__snapshots__/transform.test.ts.snap
  language/json-language-service/src/xlr/transforms.ts
Owners: @KetanReddy, @adierkens

Only walk tree once when solving type in sdk
  xlr/sdk/src/sdk.ts
  xlr/sdk/src/utils.ts
Owners: @KetanReddy

Fix issue with generic arguments with generics
  xlr/converters/src/ts-to-xlr.ts
  xlr/sdk/src/sdk.ts
  xlr/utils/src/ts-helpers.ts
  xlr/utils/src/validation-helpers.ts
Owners: @KetanReddy

Updated @devtools-ui/plugin: 3.0.0
  devtools/plugins/desktop/basic/src/content/views/FlowView.tsx
  package.json
  pnpm-lock.yaml
Owners: @sugarmanz, @KetanReddy

Testing Object inspector filter feat devtool
  devtools/plugins/desktop/test-env/setup.sh
  package.json
  pnpm-lock.yaml
Owners: @sugarmanz, @KetanReddy

Updated @devtools-ui/plugin: 3.0.0
  devtools/plugins/desktop/basic/src/content/views/FlowView.tsx
  package.json
  pnpm-lock.yaml
Owners: @sugarmanz, @KetanReddy

Merge main branch
  .bazelignore
  .circleci/config.yml
  .codecov.yml
  devtools/client/src/panel/index.tsx
  devtools/client/src/state/reducer.ts
  devtools/plugins/desktop/basic/BUILD
  devtools/plugins/desktop/profiler/BUILD
  devtools/plugins/desktop/profiler/README.md
  devtools/plugins/desktop/profiler/_generated/index.json
  devtools/plugins/desktop/profiler/package.json
  devtools/plugins/desktop/profiler/src/WrapperComponent.tsx
  devtools/plugins/desktop/profiler/src/__tests__/__snapshots__/index.test.tsx.snap
  devtools/plugins/desktop/profiler/src/__tests__/index.test.tsx
  devtools/plugins/desktop/profiler/src/constants/index.ts
  devtools/plugins/desktop/profiler/src/content/common/Screen.tsx
  devtools/plugins/desktop/profiler/src/content/common/index.ts
  devtools/plugins/desktop/profiler/src/content/index.ts
  devtools/plugins/desktop/profiler/src/content/navigation/index.ts
  devtools/plugins/desktop/profiler/src/content/schema/index.ts
  devtools/plugins/desktop/profiler/src/content/views/ProfilerView.tsx
  devtools/plugins/desktop/profiler/src/content/views/index.ts
  devtools/plugins/desktop/profiler/src/helpers/__tests__/genDataChangeTransaction.test.ts
  devtools/plugins/desktop/profiler/src/helpers/__tests__/profiler.test.ts
  devtools/plugins/desktop/profiler/src/helpers/genDataChangeTransaction.ts
  devtools/plugins/desktop/profiler/src/helpers/index.ts
  devtools/plugins/desktop/profiler/src/helpers/profiler.ts
  devtools/plugins/desktop/profiler/src/index.tsx
  devtools/plugins/desktop/profiler/src/types.ts
  devtools/plugins/desktop/profiler/tsconfig.json
  devtools/plugins/desktop/test-env/package.json
  devtools/plugins/desktop/test-env/setup.sh
  devtools/plugins/desktop/test-env/src/App.tsx
  helpers/defs.bzl
  language/dsl/src/__tests__/asset-api.test.tsx
  language/dsl/src/__tests__/helpers/asset-library.tsx
  language/dsl/src/auto-id.tsx
  language/dsl/src/types.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  xlr/sdk/src/validator.ts
Owners: @KetanReddy, @sugarmanz, @adierkens

.github/CODEOWNERS:

# Fallback
* @KetanReddy 

# Language
language/ @KetanReddy @adierkens
cli/ @KetanReddy @adierkens

# XLR
xlr/ @KetanReddy
drag-and-drop/ @KetanReddy @adierkens

# DevTools
devtools/ @sugarmanz
