Repository player-ui/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KetanReddy, @adierkens, @sugarmanz

chore: tests
  language/dsl-lite/src/__tests__/nodes.test.ts
  language/dsl-lite/src/__tests__/render.test.tsx
Owners: @KetanReddy, @adierkens

chore: fragment factory
  language/dsl-lite/src/__tests__/render.test.tsx
Owners: @KetanReddy, @adierkens

chore: fix readme examples imports
  language/dsl-lite/README.md
Owners: @KetanReddy, @adierkens

chore: 💅
  language/dsl-lite/src/__tests__/nodes.test.ts
  language/dsl-lite/src/__tests__/render.test.tsx
Owners: @KetanReddy, @adierkens

chore: fix readme examples imports
  language/dsl-lite/README.md
Owners: @KetanReddy, @adierkens

feat: useRef
  language/dsl-lite/src/@types/README.md
  language/dsl-lite/src/@types/global.d.ts
  language/dsl-lite/src/@types/index.d.ts
  language/dsl-lite/src/@types/jsx-dev-runtime.d.ts
  language/dsl-lite/src/@types/jsx-runtime.d.ts
  language/dsl-lite/src/__tests__/useId.test.tsx
  language/dsl-lite/src/components/Asset.tsx
  language/dsl-lite/src/components/Switch.tsx
  language/dsl-lite/src/components/Template.tsx
  language/dsl-lite/src/components/index.ts
  language/dsl-lite/src/components/useId.tsx
  language/dsl-lite/src/hooks.ts
  language/dsl-lite/src/index.ts
  language/dsl-lite/src/jsx-types.d.ts
  language/dsl-lite/src/render.ts
  language/dsl-lite/src/types.ts
  language/dsl-lite/tsconfig.json
Owners: @KetanReddy, @adierkens

chore: tests
  language/dsl-lite/src/components/Asset.tsx
  language/dsl-lite/src/components/Switch.tsx
  language/dsl-lite/src/components/__tests__/Asset.test.tsx
  language/dsl-lite/src/components/__tests__/Switch.test.tsx
  language/dsl-lite/src/components/__tests__/Template.test.tsx
  language/dsl-lite/src/components/__tests__/useId.test.tsx
Owners: @KetanReddy, @adierkens

chore: rebase
  language/dsl-lite/src/__tests__/nodes.test.ts
  language/dsl-lite/src/render.ts
  language/dsl-lite/src/tagged-templates.ts
Owners: @KetanReddy, @adierkens

Remove empty try catch block
  cli/src/__tests__/utils/fs.test.ts
  cli/src/utils/fs.ts
Owners: @KetanReddy, @adierkens

DSL-Lite basic implementation (#204)
  .bazelignore
  language/dsl-lite/BUILD
  language/dsl-lite/README.md
  language/dsl-lite/package.json
  language/dsl-lite/src/__tests__/intrinsic-tags.test.tsx
  language/dsl-lite/src/__tests__/nodes.test.ts
  language/dsl-lite/src/__tests__/render.test.tsx
  language/dsl-lite/src/__tests__/tagged-templates.test.ts
  language/dsl-lite/src/index.ts
  language/dsl-lite/src/jsx-runtime.ts
  language/dsl-lite/src/jsx-types.d.ts
  language/dsl-lite/src/nodes.ts
  language/dsl-lite/src/render.ts
  language/dsl-lite/src/tagged-templates.ts
  language/dsl-lite/src/types.ts
  language/dsl-lite/tsconfig.json
  language/dsl-lite/tsup.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @KetanReddy, @adierkens

chore: post-rebase eslint changes
  language/dsl-lite/src/__tests__/tagged-templates.test.ts
  language/dsl-lite/src/jsx-runtime.ts
  language/dsl-lite/src/nodes.ts
  language/dsl-lite/src/render.ts
  language/dsl-lite/src/types.ts
Owners: @KetanReddy, @adierkens

feat: context
  language/dsl-lite/src/@types/README.md
  language/dsl-lite/src/@types/global.d.ts
  language/dsl-lite/src/@types/index.d.ts
  language/dsl-lite/src/@types/jsx-dev-runtime.d.ts
  language/dsl-lite/src/@types/jsx-runtime.d.ts
  language/dsl-lite/src/__tests__/render.test.tsx
  language/dsl-lite/src/components/Asset.tsx
  language/dsl-lite/src/components/Switch.tsx
  language/dsl-lite/src/components/Template.tsx
  language/dsl-lite/src/components/__tests__/Asset.test.tsx
  language/dsl-lite/src/components/__tests__/Switch.test.tsx
  language/dsl-lite/src/components/__tests__/Template.test.tsx
  language/dsl-lite/src/components/__tests__/useId.test.tsx
  language/dsl-lite/src/components/index.ts
  language/dsl-lite/src/components/useId.tsx
  language/dsl-lite/src/hooks.ts
  language/dsl-lite/src/jsx-types.d.ts
  language/dsl-lite/src/render.ts
  language/dsl-lite/src/types.ts
  language/dsl-lite/tsconfig.json
Owners: @KetanReddy, @adierkens

updating schema to support features and metrics
  .bazelignore
  language/metrics-output-plugin/BUILD
  language/metrics-output-plugin/README.md
  language/metrics-output-plugin/package.json
  language/metrics-output-plugin/src/__tests__/metrics-output-plugin.test.ts
  language/metrics-output-plugin/src/index.ts
  language/metrics-output-plugin/src/metrics-output.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @KetanReddy, @adierkens

renaming variables, testing out new helper function
  language/metrics-output-plugin/src/__tests__/metrics-output-plugin.test.ts
  language/metrics-output-plugin/src/metrics-output.ts
Owners: @KetanReddy, @adierkens

updating helper function API
  language/metrics-output-plugin/src/__tests__/metrics-output-plugin.test.ts
  language/metrics-output-plugin/src/metrics-output.ts
Owners: @KetanReddy, @adierkens

update dep versions. Add new plugins to devtools client
  devtools/client/BUILD
  devtools/client/src/plugins/index.ts
  package.json
  pnpm-lock.yaml
Owners: @sugarmanz, @KetanReddy

update snapshot
  devtools/client/src/plugins/index.ts
  devtools/plugins/desktop/profiler/src/__tests__/__snapshots__/index.test.tsx.snap
Owners: @sugarmanz

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @KetanReddy

Bump version to: 0.10.0 [skip ci]
  VERSION
Owners: @KetanReddy

fixing lint errors
  language/dsl/src/__tests__/template.test.tsx
  language/dsl/src/template.tsx
Owners: @KetanReddy, @adierkens

updating player dependencies
  devtools/plugins/desktop/test-env/package.json
  package.json
  pnpm-lock.yaml
Owners: @sugarmanz, @KetanReddy

chore: unknown instead of any
  language/dsl-lite/src/@types/global.d.ts
Owners: @KetanReddy, @adierkens

Resimplifying output plugin
  language/metrics-output-plugin/src/__tests__/metrics-output-plugin.test.ts
  language/metrics-output-plugin/src/metrics-output.ts
Owners: @KetanReddy, @adierkens

Fix deps for utils on non-published package
  xlr/utils/package.json
Owners: @KetanReddy

feat: add useContext and createContext to the dsl-lite (#209)
  language/dsl-lite/src/@types/README.md
  language/dsl-lite/src/@types/global.d.ts
  language/dsl-lite/src/@types/index.d.ts
  language/dsl-lite/src/@types/jsx-dev-runtime.d.ts
  language/dsl-lite/src/@types/jsx-runtime.d.ts
  language/dsl-lite/src/__tests__/render.test.tsx
  language/dsl-lite/src/components/Asset.tsx
  language/dsl-lite/src/components/Switch.tsx
  language/dsl-lite/src/components/Template.tsx
  language/dsl-lite/src/components/__tests__/Asset.test.tsx
  language/dsl-lite/src/components/__tests__/Switch.test.tsx
  language/dsl-lite/src/components/__tests__/Template.test.tsx
  language/dsl-lite/src/components/__tests__/useId.test.tsx
  language/dsl-lite/src/components/index.ts
  language/dsl-lite/src/components/useId.tsx
  language/dsl-lite/src/hooks.ts
  language/dsl-lite/src/jsx-types.d.ts
  language/dsl-lite/src/render.ts
  language/dsl-lite/src/types.ts
  language/dsl-lite/tsconfig.json
Owners: @KetanReddy, @adierkens

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @KetanReddy

Bump version to: 0.10.1 [skip ci]
  VERSION
Owners: @KetanReddy

basic function generation from ExpressionHandler
  language/dsl/src/__tests__/util.test.tsx
  language/dsl/src/utils.tsx
Owners: @KetanReddy, @adierkens

Handle arrays and bindings as args
  language/dsl/src/__tests__/util.test.tsx
  language/dsl/src/utils.tsx
Owners: @KetanReddy, @adierkens

changing default directory logic
  language/metrics-output-plugin/src/__tests__/metrics-output-plugin.test.ts
  language/metrics-output-plugin/src/metrics-output.ts
Owners: @KetanReddy, @adierkens

revert to assuming value not reference by default
  language/dsl/src/__tests__/util.test.tsx
  language/dsl/src/utils.tsx
Owners: @KetanReddy, @adierkens

Add function to rewrap expression function exports as DSL syntax generator functions
  language/dsl/src/__tests__/util.test.tsx
  language/dsl/src/types.ts
  language/dsl/src/utils.tsx
Owners: @KetanReddy, @adierkens

lint
  language/dsl/src/__tests__/util.test.tsx
  language/dsl/src/utils.tsx
Owners: @KetanReddy, @adierkens

updating README
  language/metrics-output-plugin/README.md
Owners: @KetanReddy, @adierkens

feat: add useRef to the dsl-lite
  language/dsl-lite/src/__tests__/useRef.test.tsx
  language/dsl-lite/src/hooks.ts
  language/dsl-lite/src/types.ts
Owners: @KetanReddy, @adierkens

feat: add useRef to the dsl-lite (#214)
  language/dsl-lite/src/__tests__/useRef.test.tsx
  language/dsl-lite/src/hooks.ts
  language/dsl-lite/src/types.ts
Owners: @KetanReddy, @adierkens

added way to get metrics from source and updated tests
  language/metrics-output-plugin/src/__tests__/metrics-output-plugin.test.ts
  language/metrics-output-plugin/src/metrics-output.ts
Owners: @KetanReddy, @adierkens

updating source to data for diagnostics filtering
  language/metrics-output-plugin/src/__tests__/metrics-output-plugin.test.ts
  language/metrics-output-plugin/src/metrics-output.ts
Owners: @KetanReddy, @adierkens

updating README docs and fixing tests
  language/metrics-output-plugin/README.md
  language/metrics-output-plugin/src/__tests__/metrics-output-plugin.test.ts
Owners: @KetanReddy, @adierkens

Chain return types from expressions when used as args in other expressions
  language/dsl/src/__tests__/util.test.tsx
  language/dsl/src/string-templates/index.ts
  language/dsl/src/types.ts
  language/dsl/src/utils.tsx
Owners: @KetanReddy, @adierkens

.github/CODEOWNERS:

# Fallback
* @KetanReddy 

# Language
language/ @KetanReddy @adierkens
cli/ @KetanReddy @adierkens

# XLR
xlr/ @KetanReddy
drag-and-drop/ @KetanReddy @adierkens

# DevTools
devtools/ @sugarmanz
