Repository player-ui/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KetanReddy, @adierkens, @sugarmanz

chore: fixing messenger logic - wip
  devtools/client/src/panel/index.tsx
  devtools/client/src/state/index.ts
  devtools/messenger/src/__tests__/helpers/index.ts
  devtools/messenger/src/__tests__/index.test.ts
  devtools/messenger/src/index.ts
  devtools/plugins/desktop/basic/src/WrapperComponent.tsx
  devtools/plugins/desktop/common/src/state/usePluginState.ts
  devtools/types/src/index.ts
Owners: @sugarmanz

replace dset with set
  devtools/plugins/desktop/common/src/state/reducer.ts
Owners: @sugarmanz

remove debug flag
  devtools/client/src/state/index.ts
  devtools/plugins/desktop/common/src/state/usePluginState.ts
Owners: @sugarmanz

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @KetanReddy

Use release version of rules
  MODULE.bazel
Owners: @KetanReddy

feat: highlight selected player instance
  devtools/client/src/panel/index.tsx
  devtools/client/src/state/index.ts
  devtools/plugins/desktop/basic/src/WrapperComponent.tsx
  devtools/plugins/desktop/basic/src/constants/index.ts
  devtools/plugins/desktop/basic/src/index.tsx
  devtools/plugins/desktop/basic/src/types.ts
  devtools/plugins/desktop/common/src/state/reducer.ts
  devtools/plugins/desktop/common/src/state/usePluginState.ts
  devtools/plugins/desktop/profiler/src/WrapperComponent.tsx
  devtools/plugins/desktop/profiler/src/index.tsx
  devtools/plugins/desktop/profiler/src/types.ts
  devtools/plugins/desktop/test-env/src/App.tsx
  devtools/plugins/desktop/test-env/src/flow2.json
  devtools/types/src/index.ts
Owners: @sugarmanz

chore: fixing messenger logic
  devtools/client/src/panel/index.tsx
  devtools/client/src/state/index.ts
  devtools/messenger/src/__tests__/index.test.ts
  devtools/messenger/src/index.ts
Owners: @sugarmanz

Update js rules to latest
  MODULE.bazel
  MODULE.bazel.lock
  cli/BUILD
Owners: @KetanReddy, @adierkens

pnpm 9.7.0 upgrade
  package.json
  pnpm-lock.yaml
Owners: @KetanReddy

Update pnpm version
  package.json
  pnpm-lock.yaml
Owners: @KetanReddy

revert setup.sh for verdaccio
  devtools/plugins/desktop/test-env/setup.sh
Owners: @sugarmanz

adding section dividers, cleaning up messages
  language/complexity-check-plugin/src/__tests__/complexity-check-plugin.test.ts
  language/complexity-check-plugin/src/complexity-check.ts
Owners: @KetanReddy, @adierkens

prettier fixes
  language/complexity-check-plugin/src/complexity-check.ts
Owners: @KetanReddy, @adierkens

reverting to dset
  devtools/client/BUILD
  devtools/client/src/state/reducer.ts
  devtools/plugins/desktop/basic/BUILD
  devtools/plugins/desktop/basic/src/WrapperComponent.tsx
  devtools/plugins/desktop/basic/src/index.tsx
  devtools/plugins/desktop/common/BUILD
  devtools/plugins/desktop/common/src/state/reducer.ts
  devtools/plugins/desktop/profiler/BUILD
  devtools/plugins/desktop/profiler/src/WrapperComponent.tsx
  devtools/plugins/desktop/template/BUILD.hbs
  devtools/plugins/desktop/template/src/WrapperComponent.tsx.hbs
  devtools/plugins/desktop/test-env/setup.sh
  package.json
  pnpm-lock.yaml
Owners: @sugarmanz, @KetanReddy

removed unusued import
  devtools/plugins/desktop/basic/src/WrapperComponent.tsx
Owners: @sugarmanz

updating logging logic to not use verbose config
  cli/src/index.ts
  cli/src/utils/log-levels.ts
  language/complexity-check-plugin/src/__tests__/complexity-check-plugin.test.ts
  language/complexity-check-plugin/src/complexity-check.ts
Owners: @KetanReddy, @adierkens

separating out types
  language/complexity-check-plugin/src/complexity-check.ts
Owners: @KetanReddy, @adierkens

updating tests based on increased points for expressions
  language/complexity-check-plugin/src/__tests__/complexity-check-plugin.test.ts
Owners: @KetanReddy, @adierkens

Add options to LSPAssetsPlugin to load from TSManifest via module import
  cli/src/plugins/LSPAssetsPlugin.ts
Owners: @KetanReddy, @adierkens

simple unit tests
  devtools/plugins/desktop/basic/src/__tests__/index.test.tsx
Owners: @sugarmanz

trying to get messages to work with log levels
  language/complexity-check-plugin/src/complexity-check.ts
Owners: @KetanReddy, @adierkens

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Owners: @KetanReddy

Add tests
  cli/src/plugins/__tests__/LSPAssetsPlugin.test.ts
Owners: @KetanReddy, @adierkens

increased get and eval scores from 2 to 4 each
  language/complexity-check-plugin/README.md
  language/complexity-check-plugin/src/complexity-check.ts
Owners: @KetanReddy, @adierkens

Don't create oclif manifest
  cli/BUILD
  cli/package.json
Owners: @KetanReddy, @adierkens

Add functionality for all diagnostic severity levels
  cli/src/commands/dsl/compile.ts
  cli/src/commands/json/validate.ts
  cli/src/utils/base-command.ts
  cli/src/utils/diag-renderer.ts
  cli/src/utils/log-levels.ts
  cli/src/utils/task-runner.ts
Owners: @KetanReddy, @adierkens

separate object for scoring criteria, fixed template console message logic
  language/complexity-check-plugin/README.md
  language/complexity-check-plugin/src/__tests__/complexity-check-plugin.test.ts
  language/complexity-check-plugin/src/complexity-check.ts
Owners: @KetanReddy, @adierkens

WIP, safely merging with dset
  devtools/client/src/state/reducer.ts
  devtools/plugins/desktop/basic/src/WrapperComponent.tsx
  devtools/plugins/desktop/common/src/state/reducer.ts
  devtools/plugins/desktop/profiler/src/WrapperComponent.tsx
Owners: @sugarmanz

addressing PR feedback
  language/complexity-check-plugin/README.md
  language/complexity-check-plugin/src/complexity-check.ts
Owners: @KetanReddy, @adierkens

Bump version to: 0.8.1 [skip ci]
  VERSION
Owners: @KetanReddy

removing extra line
  language/complexity-check-plugin/src/complexity-check.ts
Owners: @KetanReddy, @adierkens

updating tests
  language/complexity-check-plugin/README.md
  language/complexity-check-plugin/src/__tests__/complexity-check-plugin.test.ts
  language/complexity-check-plugin/src/complexity-check.ts
Owners: @KetanReddy, @adierkens

rebasing
  devtools/client/BUILD
  devtools/client/src/state/reducer.ts
  devtools/plugins/desktop/basic/BUILD
  devtools/plugins/desktop/basic/src/WrapperComponent.tsx
  devtools/plugins/desktop/common/BUILD
  devtools/plugins/desktop/common/src/state/reducer.ts
  devtools/plugins/desktop/profiler/src/WrapperComponent.tsx
  package.json
  pnpm-lock.yaml
Owners: @sugarmanz, @KetanReddy

changed from log to error
  devtools/plugins/desktop/basic/src/WrapperComponent.tsx
Owners: @sugarmanz

updated logging logic and improved messaging
  language/complexity-check-plugin/src/__tests__/complexity-check-plugin.test.ts
  language/complexity-check-plugin/src/complexity-check.ts
Owners: @KetanReddy, @adierkens

adding missing dep to bazel build
  language/complexity-check-plugin/BUILD
Owners: @KetanReddy, @adierkens

update other sets
  devtools/plugins/desktop/basic/BUILD
  devtools/plugins/desktop/basic/src/index.tsx
  devtools/plugins/desktop/profiler/src/WrapperComponent.tsx
Owners: @sugarmanz

more unit tests
  devtools/plugins/desktop/basic/src/__tests__/index.test.tsx
  devtools/plugins/desktop/common/src/state/__tests__/reducer.test.ts
  devtools/plugins/desktop/common/src/state/reducer.ts
Owners: @sugarmanz

added try catch around dset, this allows things not to break in the ui
  devtools/client/BUILD
  devtools/client/src/state/reducer.ts
  devtools/plugins/desktop/basic/BUILD
  devtools/plugins/desktop/basic/src/WrapperComponent.tsx
  devtools/plugins/desktop/common/BUILD
  devtools/plugins/desktop/common/src/state/reducer.ts
  devtools/plugins/desktop/profiler/src/WrapperComponent.tsx
  package.json
  pnpm-lock.yaml
Owners: @sugarmanz, @KetanReddy

update model weights and README
  language/complexity-check-plugin/README.md
  language/complexity-check-plugin/src/__tests__/complexity-check-plugin.test.ts
  language/complexity-check-plugin/src/complexity-check.ts
Owners: @KetanReddy, @adierkens

.github/CODEOWNERS:

# Fallback
* @KetanReddy 

# Language
language/ @KetanReddy @adierkens
cli/ @KetanReddy @adierkens

# XLR
xlr/ @KetanReddy
drag-and-drop/ @KetanReddy @adierkens

# DevTools
devtools/ @sugarmanz
